lyte/config/local.py
*.pyc
*~
.venv/
venv/
env/
mail_chimp.txt
.env
.npmrc
*.swp
*.pdf
*.csv
!tests/**/*.csv
.ipynb_checkpoints/
QUOTAGUARD-LICENSE.txt
node_modules/
.idea
npm-debug.log
*.DS_Store
lyte/db_settings.py
*.sublime-workspace
.elasticbeanstalk/
lyte.log*
staticfiles/
celerybeat-schedule
_local/**
static/_local_fake_cdn/
geckodriver.log
endstate.png
failure.png
.python-version
screenshot.png
.pytest_cache/
.vscode
.tox
.pytest_cache
tests/test-report-*.xml

_credentials.md

static/**/*.txt
static/consumer/*.js
static/consumer/*.css
static/consumer/*.map
!static/consumer/images/*
!static/consumer/custom/*

static/extension/*.js
static/extension/*.css
static/extension/*.map
!static/extension/*.png

static/support/stylesheets/*.css
static/support/stylesheets/*.map

static/portal/promoter/stylesheets/*.css
static/portal/promoter/stylesheets/*.map

static/portal/public/stylesheets/mixed.css
static/portal/public/stylesheets/mixed.css.map

static/marketing/*.js
static/marketing/*.css
static/marketing/*.map
!static/marketing/images/*

static/rae/*.js
static/rae/*.css
static/rae/*.map
!static/rae/images/*

static/sri_manifest.json
static/webpack_sri_manifest.json
admin_app/tests/randoms.py

devops/.localdb_data/